<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Chiffrement de fichiers</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>

<h2>Application de chiffrement / déchiffrement</h2>

<form action="/process" method="POST" enctype="multipart/form-data">

    <label>Fichier :</label><br>
    <input type="file" name="file" required><br><br>

    <label>Action :</label><br>
    <select name="action">
        <option value="encrypt">Chiffrer</option>
        <option value="decrypt">Déchiffrer</option>
    </select><br><br>

    <label>Algorithme :</label><br>
    <select name="algorithm">
        <option value="AES">AES</option>
        <option value="DES">DES</option>
    </select><br><br>

    <label>Mode :</label><br>
    <select name="mode">
        <option value="ECB">ECB</option>
        <option value="CFB">CFB</option>
    </select><br><br>

    <label>Clé secrète :</label><br>
    <input type="text" name="key" placeholder="Clé de chiffrement" required><br><br>

    <button type="submit">Lancer</button>

</form>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
